.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 55px;
    margin-bottom: 15px;
}

nav {
    display: flex;
    gap: 30px;

    & a {
        text-decoration: none;
        color: #000000;
        font-weight: 500;
        font-size: 24px;
        font-family: 'Montserrat';

    }

    & a:hover {
        text-decoration: underline;
    }

    a:focus {
        text-decoration: underline;
    }
}