.host-info {
    display: flex;
    width: 167px;

    @media (max-width: 768px) {
        align-items: center;
        justify-content: flex-end;
    }

    & p {
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
        text-align: right;
        color: #FF6060;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    & img {
        width: 64px;
        height: 64px;

        @media (max-width: 768px) {
            width: 32px;
            height: 32px;
            border-radius: 25px;
        }
    }
}